/* main.css BEGIN */

/**
 * .tabs-1 BEGIN
 */

.tabs-1__tab {
  background: var(--color-main-2);
  display: none;
  padding: 1em;
}

.tabs-1 {
  --offset-tabs-1: 10px;
  --lh-tabs-1: 1.25;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--offset-tabs-1);

  :where(&) input[type="radio"] {
    display: none;
  }

  :where(&) label {
    align-items: center;
    background: var(--color-main-2);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    line-height: var(--lh-tabs-1);
    max-width: 256px;
    padding: 1em;
    text-align: center;

    :where(&)::before {
      display: none;
    }

    :where(&):hover {
      background: white;
    }
  }

  /* Для стилизации активной вкладки следует использовать псевдокласс, а не атрибут [checked] */
  :where(& input[type="radio"]:checked) + label {
    background: white;
  }

  /* 
    Тут следует добавить столько вкладок, сколько нужно, взять с запасом.
    'display: block' по-умолчанию, возможно где-то потребуется 'flex' или 'grid',
    или обернуть содержимое вкладки в контейнер с 'flex' или 'grid'
  */
  :where(&:has(.tabs-1__radio-1:checked)) .tabs-1__tab-1 { display: block }
  :where(&:has(.tabs-1__radio-2:checked)) .tabs-1__tab-2 { display: block }
  :where(&:has(.tabs-1__radio-3:checked)) .tabs-1__tab-3 { display: block }
  :where(&:has(.tabs-1__radio-4:checked)) .tabs-1__tab-4 { display: block }
  :where(&:has(.tabs-1__radio-5:checked)) .tabs-1__tab-5 { display: block }
  :where(&:has(.tabs-1__radio-6:checked)) .tabs-1__tab-6 { display: block }
  :where(&:has(.tabs-1__radio-7:checked)) .tabs-1__tab-7 { display: block }
  :where(&:has(.tabs-1__radio-8:checked)) .tabs-1__tab-8 { display: block }
  :where(&:has(.tabs-1__radio-9:checked)) .tabs-1__tab-9 { display: block }
  :where(&:has(.tabs-1__radio-10:checked)) .tabs-1__tab-10 { display: block }
}

.tabs-1__head {
  display: flex;
  flex-flow: row wrap;
  gap: var(--offset-tabs-1);
}

.tabs-1__body {
  :where(&) ul {
    padding-left: 1.2em;
  }

  :where(& ul) li {
    list-style: disc;
  }
}

/* 
  Класс контейнерного запроса всё равно надо указывать, 
  чтобы размещать вкладки в любом контейнере
*/
.cq-1--tabs-1-vertical {
  container: layout-250 / inline-size;
}

.tabs-1_vertical {
  /*
    Вкладки превращаются в вертикальные, когда для этого хватает места в контейнере,
    иначе они горизонтальные, как будто нет модификатора.
    200px ширина левой колонки, 20px отступ, на правую оставил минимум 400px.
    Увидел, что на родителе уже задано имя контейнера 'layout-250', поэтому его же использую здесь.
  */
  @container layout-250 (inline-size >= 620px) {
    display: grid;
    grid-template-columns: 200px 1fr;

    :where(&) label {
      width: 100%;
    }

    :where(&) .tabs-1__head {
      align-self: start;
    }

    :where(&) .tabs-1__tab {
      box-sizing: border-box;
      min-height: 100%;
    }
  }
}

/**
 * .tabs-1 END
 */

/**
 * .grid-main BEGIN
 */

.grid-main {
  --offset-grid-main: 20px;

  display: grid;
  gap: var(--offset-grid-main);

  @media (min-width: 768px) {
    grid-template-columns: 300px 1fr;
  }
}

.grid-main__aside {
  /* --base-fs: 12px; */

  background-color: lightpink;
  padding: var(--offset-grid-main);
}

.grid-main__main {
  background-color: lightcyan;
  padding: var(--offset-grid-main);
}

/**
 * .grid-main END
 */

/**
 * .main BEGIN
 */

.main {
  --offset-main: calc(1.25 * var(--base-fs));

  :where(&) :is(ul, ol, p) {
    margin-bottom: var(--offset-main);
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  :where(&) hr {
    background: black;
    border: none;
    display: block;
    height: 1px;
    margin-bottom: var(--offset-main);
    margin-top: 0;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  :where(& .tabs-1) {
    margin-bottom: var(--offset-main);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * .main END
 */

/* main.css END */
