/* groups.css BEGIN */

/**
 * .layout-250 BEGIN
 */

/*
  Блок общего назначения, чтобы делить любые дочерние элементы на колонки.
  Общая формула для inline-size контейнернего запроса:
  N * MinWidth + (N - 1) * OffsetBase
  N -- это количество колонок
  MinWidth -- минимальная ширина одной колонки, которая в суффиксе названия блока.
  OffsetBase -- отступ между колонками

  Для других точек контейнерных запросов создаётся другой блок, 
  например '.layout-500' для минимальной ширины 500px.
*/

.layout-250 {
  --offset-layout-250: var(--offset-base);

  container: layout-250 / inline-size;
  display: flex;
  flex-flow: column nowrap;
}

.layout-250__cols-2 {
  display: grid;
  gap: var(--offset-layout-250, var(--offset-base));

  @container layout-250 (inline-size >= 520px) {
    grid-template-columns: 1fr 1fr; 
  }
}

.layout-250__cols-3 {
  display: grid;
  gap: var(--offset-layout-250, var(--offset-base));

  @container layout-250 (inline-size >= 520px) {
    grid-template-columns: 1fr 1fr; 
  }

  @container layout-250 (inline-size >= 790px) {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.layout-250__cols-4 {
  display: grid;
  gap: var(--offset-layout-250, var(--offset-base));

  @container layout-250 (inline-size >= 520px) {
    grid-template-columns: 1fr 1fr; 
  }

  @container layout-250 (inline-size >= 790px) {
    grid-template-columns: repeat(3, 1fr); 
  }

  @container layout-250 (inline-size >= 1060px) {
    grid-template-columns: repeat(4, 1fr); 
  }
}

/**
 * .layout-250 END
 */

/**
 * .container BEGIN
 */

.cq-1--container {
  container: container / inline-size;
}

.container {
  padding-inline: var(--offset-base);

  /* (inline-size >= var(--width-base) + 2 * var(--offset-base)) */
  @container container (inline-size >= 1200px) {
    padding-inline: calc(50% - var(--width-base) / 2);
  }
}

/**
 * .container END
 */ 

/**
 * Section Common BEGIN
 */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.iframe-16-9 {
  aspect-ratio: 16 / 9; /* 1.77777... */
  max-width: 100%;
}

/**
 * Section Common END
 */

/**
 * Section Flex Grid BEGIN
 */

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

/**
 * Section Flex Grid END
 */

/**
 * Section Flex Grid Alignment BEGIN
 */

.ai-center {
  align-items: center;
}

/**
 * Section Flex Grid Alignment END
 */

/**
 * Section Block Model BEGIN
 */

.p-10px {
  padding: 10px;
}

.p-20px {
  padding: 20px;
}

.pb-0dot5em {
  padding-bottom: 0.5em;
}

.pb-1em {
  padding-bottom: 1em;
}

/* 'ob' выдуманные единицы измерения. 1ob -- 1 единица базового смещения в переменной '--offset-base' на :root */
.p-1ob {
  padding: var(--offset-base);
}

.mt-20px {
  margin-top: 20px;
}

/**
 * Section Block Model END
 */

/**
 * Section Width Height BEGIN
 */

.col-1-to-1 {
  box-sizing: border-box;
  width: 100%;
}

.max-w-800px {
  max-width: 800px;
}

.min-h-1200px {
  min-height: 1200px;
}

/**
 * Section Width Height END
 */

/**
 * Section Colors BEGIN
 */

.color-main-1 {
  color: #212121;
}

.color-main-2 {
  color: #dedede;
}

.bg-color-1 {
  background-color: #212121;
}

.bg-color-2 {
  background-color: #dedede;
}

.green {
  color: green;
}

.bg-green {
  background-color: green;
}

/**
 * Section Colors END
 */

/* groups.css END */
