/* base.css BEGIN */

/*
  Media Queries breakpoints:
  xs: 576px
  sm: 768px
  md: 992px
  lg: 1200px
  xl: 1600px

  1. breakpoints контейнерных запросов могут быть как произвольными, так и вручную связанными с медиа запросами 
    под каждый отдельный проект. Например, медиа запрос 'sm' 768px. На <body> стоит забивка по бокам в 20px.
    Внутри <body> контейнер с нужным блоком. Тогда контейнерный запрос 'sm' логично взять 768px - 40px = 728px.
    Единицы измерения как 'vw', 'em' и другие переводятся в 'px' на нужном viewport.
  2. Базовый размер шрифта задаётся в 'px', высота строки как коэффициент размера шрифта без единиц измерения.
    Выбрал 16px потому что при делении на это число всегда получается конечная десятичная дробь.
  3. Цвета задаю номерами '1' и '2' вместо 'dark' и 'light', чтобы можно было переопределить переменные 
    на противоположные цвета, чтобы не нарушилась семантика.
  4. Базовые смещения, например для элементов форм, удобно задавать в em. Сам размер шрифта не следует задавать в em.
*/

:root {
  /* Colors */
  --color-main-1: #1F1F1F;
  --color-main-2: #FFF;
  --color-3: #0070A0;
  --color-4: #E6F7FF;
  --color-5: #626A72;

  /* Fonts */
  --font-main-sans-serif: inter, 
    system-ui, -apple-system, blinkmacsystemfont, 
    'Segoe UI', roboto, helvetica, arial, sans-serif;
  --font-main-serif: fraunces, 
    georgia, 'Times New Roman', 
    'Liberation Serif', times, serif;
  --base-fs: 16px;
  --base-fs-number: 16;
  --base-lh: 1.5;

  /* Offsets */
  --offset-base: 24px;
  --offset-section: clamp(60px, 90 * 100vw / 768, 120px);
  --offset-form: 2em;

  /* Width */
  --width-base: 1130px;

  /* Time */
  --tr-dur-base: 0.3s;

  /* z-index */
  --z-index-default: 1;
}

/*
  Цвет и шрифт наследуются, задаём на <body>, для других блоков задаём такие свойства, если они отличаются.
  Задавать сетку на <body> в большом проекте не рекомендуется, вдруг динамически в конец <body>
  будут добавляться элементы с помощью JavaScript
*/
body {
  color: var(--color-main-1);
  font: var(--base-fs) / var(--base-lh) var(--font-main-sans-serif);
  letter-spacing: 0.2px;
}

/*
  Убираем ненужные отступы сверху и снизу у первого и последнего дочернего элемента соответственно. 
  Добавляем теги по необходимости. Классы .h1, .h2, .h3, .h4 имитируют соответствующие теги заголовков.
*/
:where(
  .h1, .h2, .h3, .h4,
  h1, h2, h3, h4, p,
  ul, ol, li, figure
):first-child {
  margin-top: 0;
}

:where(
  .h1, .h2, .h3, .h4,
  h1, h2, h3, h4, p,
  ul, ol, li, figure
):last-child {
  margin-bottom: 0;
}

/*
  Все списки по-умолчанию без маркеров и отступов. Маркеры и отступы обычно требуются разные в разных блоках,
  задаём их на каждый блок через CSS вложенность в конце правила блока.
*/
:where(ul, ol, li) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
  Пусть цвет берётся от ближайшего родителя, подчёркивание задаём на блоках там где оно нужно. 
*/
:where(a) {
  color: inherit;
  text-decoration: none;
}

/*
  Нельзя всё обернуть в :where(), потому что на <body> со специфичность 001 уже задан основной шрифт.
  Нельзя всё обернуть в :is(), потому что специфичность заголовка блока, например :where(.block-n) h1,
  равна 001, а :is() сделает специфичность класса 010, поэтому разделяем правило на 2 группы через запятую.
*/
:is(h1, h2, h3, h4),
:is(.h1, .h2, .h3, .h4) {
  font-family: var(--font-main-serif);
  font-weight: 400;
}

/* h1 меняется от 30px до 58px при базовом размере шрифта в 16px */
h1, .h1 {
  font-size: clamp(
    1.875 * var(--base-fs), 
    275vw * var(--base-fs-number) / 768, 
    3.625 * var(--base-fs)
  );
  line-height: 1.1;
}

/* h2 меняется от 26px до 42px при базовом размере шрифта в 16px */
h2, .h2 {
  font-size: clamp(
    1.625 * var(--base-fs), 
    212.5vw * var(--base-fs-number) / 768, 
    2.625 * var(--base-fs)
  );
  line-height: 1.2;
}

/* h3 меняется от 22px до 25px при базовом размере шрифта в 16px */
h3, .h3 {
  font-size: clamp(
    1.375 * var(--base-fs), 
    146.875vw * var(--base-fs-number) / 768, 
    1.5625 * var(--base-fs)
  );
  line-height: 1.25;
}

.h3_sans-serif {
  font-family: var(--font-main-sans-serif);
}

/* h4 меняется от 18px до 21px при базовом размере шрифта в 16px */
h4, .h4 {
  font-size: clamp(
    1.125 * var(--base-fs), 
    121.875vw * var(--base-fs-number) / 768 
    1.3125 * var(--base-fs)
  );
  line-height: 1.2;
}

/* Для классов заголовков дублирую браузерные отступы по-умолчанию со специфичностью 0 */
:where(.h1) {
  margin: 0.67em 0;
}

:where(.h2) {
  margin: 0.83em 0;
}

:where(.h3) {
  margin: 1em 0;
}

:where(.h4) {
  margin: 1.33em 0;
}

/* Убираем маркер у тега аккордеона */
summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  content: none;
}

summary {
  cursor: pointer;
}

/* Базовая адаптация изображений и видео */
img {
  height: auto;
  max-width: 100%;
}

video {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Небольшие изменения для нативного модального окна */
dialog {
  background: none;
  border: none;
  box-sizing: border-box;
  max-width: calc(100% - 2 * var(--offset-base));
  padding: 0;
  position: relative;
  scrollbar-width: thin;
}

:where(dialog):focus-visible {
  outline: 1px solid;
}

/* Стилизация элементов форм по-умолчанию под конкретный сайт */
:where(:focus-visible) {
  outline: 1px solid;
}

:where(
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="search"],
  input[type="url"],
  input[type="date"]
) {
  border: 1px solid var(--color-main-1);
  box-sizing: border-box;
  caret-color: var(--color-main-1);
  height: var(--offset-form);
  max-width: 100%;
  padding: 0 calc(var(--offset-form) / 3.2);
}

:where(textarea) {
  box-sizing: border-box;
  caret-color: var(--color-main-1);
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  padding: calc(var(--offset-form) / 3.2);
}

:where(
  button,
  [type="submit"],
  [type="reset"],
  [type="button"]
) {
  background-color: var(--color-main-2);
  border: 1px solid var(--color-main-1);
  cursor: pointer;

  /* Переопределение значение в файле normalize.css */
  line-height: var(--base-lh);
  min-height: var(--offset-form);
  padding: calc(var(--offset-form) / 10) calc(var(--offset-form) / 2);
}

/* 
  Стилизация по-умолчанию чекбоксов и радиокнопок.
  Чекбокс (или радиокнопка) связывается с меткой с помощью атрибутов 'id' и 'for' 
  и располагается прямо перед меткой:

  <input id="radio-1" type="radio" name="radio-1" value="value-radio-1" checked>
  <label for="radio-1">Текст метки радиокнопки</label>

  <input id="checkbox-1" type="checkbox" name="checkbox-section1[]" value="value-checkbox-1">
  <label for="checkbox-1">Текст метки чекбокса</label>

  Можно поменять реализацию по-умолчанию, например, чтобы чекбокс был сразу после метки.
*/
:where(input[type="radio"]:has(+label), input[type="checkbox"]:has(+label)) {
  display: none;
}

:where(input[type="radio"], input[type="checkbox"]) + label {
  display: inline-block;
  padding-left: calc(0.625 * var(--offset-form));
  position: relative;
}

:where(input[type="radio"], input[type="checkbox"]) + :where(label)::before {
  background-color: var(--color-main-2);
  background-position: center;
  background-size: contain;
  content: '';
  display: inline-block;
  height: calc(var(--offset-form) / 2);
  left: 0;
  position: absolute;

  /* Делаем смещение на одном уровне при любом размере шрифта и высоты строки */
  top: calc(var(--base-fs) * var(--base-lh) / 2 - var(--offset-form) / 4);
  width: calc(var(--offset-form) / 2);
}

:where(input[type="radio"] + label)::before {
  border-radius: 50%;
}

/* Цвет иконки при необходимости меняется в .svg файле */
:where(input[type="radio"]:checked + label)::before {
  background-image: url('icons/radio_dark.svg');
}


:where(input[type="checkbox"]:checked + label)::before {
  background-image: url('icons/check_dark.svg');
}

/* Стилизация файлового поля в связке с JavaScript, при необходимости CSS добавляем сюда */

/* base.css END */
