/* main.css BEGIN */

/**
 * .list-numbers-1 BEGIN
 */

/* 
  Полезно задавать переменным для отступов уникальные имена на блок, а не переопределять.
  Вдруг на элементе будет несколько классов с одним и тем же именем переменной, но с разными значениями?
*/
.list-numbers-1 {
  --offset-1-ln-1: 1.25em;
  --offset-2-ln-1: 2.5em;

  counter-reset: list-numbers-1 0;
  display: grid;
  gap: calc(var(--offset-1-ln-1) - 0.5em);

  /* 
    Отступ снизу и забивка сверху подобраны так, чтобы первая строка была всегда
    по центру при любом размере шрифта. Аналогично меняется размер числовых графических маркеров.
  */
  :where(&) > li {
    counter-increment: list-numbers-1 1;
    min-height: var(--offset-2-ln-1);
    padding-left: calc(var(--offset-2-ln-1) + var(--offset-1-ln-1) / 2);
    padding-top: 0.5em;
    position: relative;

    &::before {
      border: 1px solid;
      border-radius: var(--offset-2-ln-1);
      box-sizing: border-box;
      color: blue;
      content: counter(list-numbers-1);
      display: inline-block;
      height: var(--offset-2-ln-1);
      left: 0;
      line-height: var(--offset-2-ln-1);
      min-width: var(--offset-2-ln-1);
      padding-inline: calc(var(--offset-2-ln-1) / 8);
      position: absolute;
      text-align: center;
      top: 0;
    }

    :where(&) :is(ul, ol) {
      margin-top: 1em;
      padding-left: 1.2em;

      &:first-child {
        margin-top: 0;
      }
    }

    :where(& ul) li {
      list-style: disc;
    }

    :where(& ol) li {
      list-style: decimal;
    }

    :where(&) h2 {
      font-size: calc(1.25 * var(--base-fs));
    }
  }

  /* Перенёс сюда из вложенности выше, чтобы Stylelint не указывал на ошибку */
  :where(& li):last-child {
    margin-bottom: 0;
  }
}

.list-numbers-1_overlay {
  /* 
    Для элемента на подложке добавка завивки в 1em.
  */
  :where(&) > li {
    background-color: var(--color-main-2);
    padding: 
      calc(1em + 0.5em) 1em calc(1em - 0.5em) 
      calc(var(--offset-2-ln-1) + var(--offset-1-ln-1) / 2 + 1em);

    &::before {
      left: 1em;
      top: 1em;
    }
  }
}

/*
  Модификатор модификатора:
  Тёмная тема имеет смысл там, где есть подложка, для сохранения одинаковой специфичности
  класс модификатора к которому применяется модификация оборачивается в :where()
*/
:where(.list-numbers-1_overlay).list-numbers-1_dark {
  :where(&) > li {
    background-color: var(--color-main-1);
    color: var(--color-main-2);

    &::before {
      color: yellow;
    }
  }
}

/* 
  Класс .list-numbers-1_overlay отвечает за подложку, класс .layout-250__cols-2 за колонки.
  Здесь разумно "смешать" два класса с помощью :where(): 
  как класс модификатора и класс элемента блока общего назначения.

  Нельзя задать контейнер на том же элементе, что изменяемые стили. Поэтому задаём на родителе.
  Для перестройки номеров на списке без подложки следует задать контейнерный запрос 
  внутри основного класса. Там будут другие размеры inline-size, если нужно "синхронизировать" 
  размер контентной области с элементами с подложкой.
*/
:where(.list-numbers-1_overlay.layout-250__cols-2) {
  container: overlay-cols / inline-size;

  /* 
    Здесь подсчитываем ширину контейнера для одной колонки и для двух колонок.
    В медиа запросах рекомендуется внесение почти всегда через (min-width: ..), 
    но тут удобней через '<', что аналог (max-width: ..)
  */
  @container overlay-cols 
    style(--fs-for-cq >= 16px) and
    ((inline-size < 300px) or 
    ((inline-size >= 520px) and (inline-size < 620px))) {
    & > li {
      padding: calc(var(--offset-2-ln-1) + var(--offset-1-ln-1) / 2 + 1em) 1em 1em;
    }
  }
}

:where(.list-numbers-1_overlay.layout-250__cols-3) {
  container: overlay-cols / inline-size;

  /* 
    520px и 790px знакомые числа...
    Остальные подбирал так, чтобы ширина элементов списка не превосходила 300px
  */
  @container overlay-cols 
    style(--fs-for-cq >= 16px) and
    ((inline-size < 300px) or 
    ((inline-size >= 520px) and (inline-size < 620px)) or 
    ((inline-size >= 790px) and (inline-size < 940px))) {
    & > li {
      padding: calc(var(--offset-2-ln-1) + var(--offset-1-ln-1) / 2 + 1em) 1em 1em;
    }
  }
}

/**
 * .list-numbers-1 END
 */

/**
 * .overlay-N BEGIN
 */

.overlay-1 {
  --offset-overlay-1: 20px;

  background-color: lightgreen;
  border: 1px solid green;
  border-radius: calc(var(--offset-overlay-1) / 2);
  padding: var(--offset-overlay-1);
}

/* 
  Переменная цвета определяется на :root, переменные отступов на .list-numbers-1.
  Поэтому для цвета нет надобности добавлять значение по-умолчанию, а для отступов надо
  обязательно указать значение по-умолчанию. Если данная подложка будет применяться на более
  чем одном блоке с разными отступами, то на блоках должны быть свои переменные.

  Надо следить чтобы на элементе с классами ".cq-N--[block_name]" уже не было свойства "container".
  Если данный класс добавить к классу ".layout-1", то разделение на колонки перестанет работать.
*/
.cq-1--overlay-2 {
  container: overlay-2 / inline-size;
}

.overlay-2 {
  background-color: var(--color-main-2);
  padding: 
    calc(1em + 0.5em) 1em calc(1em - 0.5em) 
    calc(var(--offset-2-ln-1, 1.5em) + var(--offset-1-ln-1, 1.25em) / 2 + 1em);

  &::before {
    left: 1em;
    top: 1em;
  }

  @container overlay-2 (inline-size < 300px) {
    padding: calc(var(--offset-2-ln-1, 1.5em) + var(--offset-1-ln-1, 1.25em) / 2 + 1em) 1em 1em;
  }
}

/**
 * .overlay-N END
 */

/**
 * .grid-main BEGIN
 */

.grid-main {
  --offset-grid-main: 20px;

  display: grid;
  gap: var(--offset-grid-main);

  @media (min-width: 768px) {
    grid-template-columns: 300px 1fr;
  }
}

.grid-main__aside {
  /* 
    font-size для контейнерного запроса. Переменная с подобным именем (суффикс '-for-cq') говорит о том, 
    что используется в контейнерном запросе и должна обязательно объявляться на определённых контейнерах.
  */

  --fs-for-cq: var(--base-fs);  /* 12px для проверки изменений */

  background-color: lightpink;
  font-size: var(--fs-for-cq);
  padding: var(--offset-grid-main);
}

.grid-main__main {
  --fs-for-cq: var(--base-fs);

  background-color: lightcyan;
  font-size: var(--fs-for-cq);
  padding: var(--offset-grid-main);
}

/**
 * .grid-main END
 */

/**
 * .main BEGIN
 */

.main {
  --offset-main: calc(1.25 * var(--base-fs));

  :where(&) :is(ul, ol, p) {
    margin-bottom: var(--offset-main);
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  :where(&) hr {
    background: black;
    border: none;
    display: block;
    height: 1px;
    margin-bottom: var(--offset-main);
    margin-top: 0;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * .main END
 */

/* main.css END */
